<?xml version="1.0" encoding="utf-8"?>
<digitalExperienceCloudConnectorConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7300.0" connected="True" applicationName="Quantum_Website" username="M5BOPFj9Qz5ZKR+fu56zB/m5QIZ7iYmarBCQjObeCBdtDKIK6OAQFh4dj5cY4smDewXvg47DTDhJ4+guJN0nOzAAAAA=" password="Od2iZ67kE4uAYPbr8bOesdRuAwBWVyowGvmvWgwJqnznLABBGOQx2RgAAAA=">
	<siteToApiKeyMappings>
		<add dataCenterApiKey="b661fbcc-2bd4-125e-a473-2077aa607e2e" siteName="Quantum International" />
		<add dataCenterApiKey="b661fbcc-2bd4-125e-a473-2077aa607e2e" siteName="Quantum ME" />
		<add dataCenterApiKey="b661fbcc-2bd4-125e-a473-2077aa607e2e" siteName="Quantum UK" />
		<add dataCenterApiKey="b661fbcc-2bd4-125e-a473-2077aa607e2e" siteName="Quantum SA" />
	</siteToApiKeyMappings>
</digitalExperienceCloudConnectorConfig>