<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6500.0" projectName="QunatumNext" dateCreated="2017-04-27 14:41:59Z">
	<defaultSite id="a8299a60-f571-4d98-b54f-7e55630d31a2" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>