<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7300.0" RelatedDataAlwaysMultiple="True">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<remove urlName="default" />
				<add name="Locations" access="Anonymous" urlName="locations" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">
					<types config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">
						<add urlName="locations" clrType="Telerik.Sitefinity.DynamicTypes.Model.Locations.Location" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
						<add urlName="albums" clrType="Telerik.Sitefinity.Libraries.Model.Album" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">
							<propertyMappings config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">
								<add AllowFilter="False" AllowSort="False" Name="LastModified" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="PublicationDate" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Title" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Description" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="DateCreated" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="UrlName" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="MaxSize" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="MaxItemSize" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="BlobStorageProvider" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="OutputCacheProfile" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="ClientCacheProfile" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="CoverId" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="ResizeOnUpload" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="NewSize" config:flags="1" />
							</propertyMappings>
						</add>
						<add urlName="images" clrType="Telerik.Sitefinity.Libraries.Model.Image" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]" type:this="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api">
							<propertyMappings config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">
								<add AllowFilter="False" AllowSort="False" Name="LastModified" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="PublicationDate" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Title" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Description" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="DateCreated" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Ordinal" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="UrlName" config:flags="1" />
								<add AllowFilter="False" Name="Category" config:flags="1" />
								<add AllowFilter="False" Name="Tags" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Width" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="Height" config:flags="1" />
								<add AllowFilter="False" AllowSort="False" Name="AlternativeText" config:flags="1" />
							</propertyMappings>
						</add>
					</types>
				</add>
				<add name="Quantum Mobile" access="Anonymous" autogenerateTypes="True" urlName="quantum-mobile" config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">
					<types config:origin="[{&quot;Key&quot;:&quot;addon&quot;,&quot;Value&quot;:&quot;{\&quot;Name\&quot;:\&quot;WebAgency\&quot;,\&quot;Path\&quot;:\&quot;WebServices\&quot;}&quot;}]">[{"Key":"addon","Value":"{\"Name\":\"WebAgency\",\"Path\":\"WebServices\"}"}]</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>